.back-wrapper {
	display: flex;
	justify-content: center;
	padding: 1% 70% 3% 0;
} 
.back-link {
	z-index: 40;
	font-family: 'Oswald', sans-serif;
	font-size: clamp(25px, 2vw, 80px);
	text-decoration: none;
	transition: 0.15s;
	color: #fff;
	overflow: hidden;
	background: linear-gradient(to right, #26FF6B 32%, #fff 37%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 380% 100%;
	background-position: 100%;
	transition: background-position 420ms;

	&:hover {
		background-position: 0 100%;
	}
	i {
		margin-right: 20px;
	}
}

.intro-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: calc(15vh - 6vw);

	div {
		z-index: 39;
		color: #FFF;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		font-size: clamp(1rem, 1.2vw, 50px);
		text-align: center;
		margin-bottom: 2vh;

	}
	h1 {
		z-index: 39;
		color: #FFF;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		font-size: clamp(48px, 4.5vw, 120px);
		margin-bottom: 14vh;
		text-align: center;
		line-height: 120%;
	}
}

.section-two {
	background: #fff;
	width: 100vw;
	margin-top: -1px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10% 5% 0 5%;
}

.column {
	width: 500px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 5%;
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: clamp(32px, 2.7vw, 80px);
		margin-bottom: 4%;
	}
	p {
		font-size: clamp(1.2rem, 1.2vw, 22px);
	}
}

.wide-photo {
	width: 510px;
}

.img-column {
	display: flex;
	flex-direction: column;
	margin: 0 0.5%;

	img {
		max-width: 100%;
		height: auto;
		margin: 10px 0;
	}
}

